{% extends 'base.html' %}


{% block body %}
  

  
  <!-- Content Wrapper. Contains page content -->


    <!-- Main content -->
    <table class="table table-hover">
      <thead>
        
            
     
          
        <tr>
          <th scope="col">#</th>
          <th scope="col">Claim ID</th>
          <th scope="col">Card ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        
      </thead>
      <tbody>
        {% for i in allclaim %}
        <tr>
          <th scope="row">1</th>
          <td><a href="">{{i.id}}</a></td>
          <td>{{i.piqama}}o</td>
          <td>{{i.ramount}}</td>
          <td>{{i.status}}</td>
          <td><button type="button" class="btn btn-sm btn-primary">Show</button>
            <button type="button" class="btn btn-sm btn-danger">Reject</button>
            <button type="button" class="btn btn-sm btn-success">Accept</button>
          </td>
          
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock body %}